In [1]:
import pandas as pd

melb_data = pd.read_csv('file:///C:/Users/Marat/Desktop/Python/SkillFactory-python/Data/melb_data.csv', sep=',')

melb_data['Postcode'] = melb_data['Postcode'].astype('int64')
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')

melb_df = melb_data.copy()

melb_df['Date'] = pd.to_datetime(melb_df['Date'])

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']

melb_df = melb_df.drop('YearBuilt', axis=1)

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

street_types = melb_df['Address'].apply(get_street_type)
popular_stypes =street_types.value_counts().nlargest(10).index
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')

def get_street_type(weekday):
    if weekday in (5,6):
        return 1
    else:
        return 0
    
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_street_type)   

popular_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_sellers else 'other')

##### определим число уникальных категорий в каждом столбце нашей таблицы melb_df. Для этого создадим вспомогательную таблицу unique_counts:

In [2]:
# создаём пустой список
unique_list = []

In [3]:
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtype) 
    # добавляем кортеж в список
    unique_list.append(item)

In [4]:
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)

In [7]:
unique_counts

      Column_Name  Num_Unique            Type
0         Weekend           2           int64
1            Type           3          object
2          Method           5          object
3     WeekdaySale           7           int64
4      Regionname           8          object
5        Bathroom           9           int64
6           Rooms           9           int64
7      StreetType          11          object
8             Car          11           int64
9         Bedroom          12           int64
10    CouncilArea          33          object
11        SellerG          50          object
12           Date          58  datetime64[ns]
13    AgeBuilding         152           int64
14       Postcode         198           int64
15       Distance         202         float64
16  Propertycount         311           int64
17         Suburb         314          object
18   BuildingArea         602         float64
19       Landsize        1448         float64
20          Price        2204         float64
21      Lattitude        6503         float64
22     Longtitude        7063         float64
23    Coordinates       13097          object
24        Address       13378          object
25          index       13580           int64